.DS_Store
.venv/
.venv_backup/
counter.py
.streamlit/secrets.toml
personal-chatgpt/.streamlit/secrets.toml
secrets_backup.toml
personal-chatgpt/__pycache__/
personal_chatgpt.egg-info/
requirements_backup.txt
personal-chatgpt/images/
.env